<!-- Footer -->
<footer class="info-footer" role="content-info" itemscope itemtype="http://schema.org/WPFooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.author.twitter %}
                      <li>
                        <a rel="me" href="//twitter.com/{{ site.author.twitter }}">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                    {% endif %}
                    {% if site.author.github %}
                      <li>
                        <a rel="me" href="//github.com/{{ site.author.github }}">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                    &copy; <span itemprop="copyrightYear">{{ site.time | date: '%Y' }}</span>
                    {% if site.author.name %}
                        <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person">
                        <span property="cc:attributionName" itemprop="name">{{ site.author.name }}</span></span>
                    {% else %}
                        {{ site.name }}{% endif %}.
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
